body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
li{
    list-style: none;
    margin: 0;
    padding: 12px;
    width: 100%;
    background: linear-gradient(90deg, rgb(232,240, 254) 0%, rgb(230, 244, 234) 100%);
}
